html
{
    scroll-behavior: smooth;
}
@media(max-width:500px)
{.card-feature-left{
    height:16rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* display:flex;
    flex-direction: column; */
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ff3535;
    border-radius:1rem;
}
.card-feature-left .card-img{
    width: 70%;
    height: auto;
    object-fit: cover;
    transform: scale(2.2);
    margin-top:3rem;
    margin-left: 2rem;
}
.feature-heading
{
    font-size: 3rem;
    font-family: 'Lilita One' ;
}
.feature-description{
    font-size: 1rem;
    font-family: 'Roboto' ;
} 
 }
@media(min-width:700px)
{.card-feature-left{
    height:20rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ff3535;
    border-radius:1rem;
}
.card-feature-left .card-img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    transform: scale(1.8);
    margin-top:15%;
    margin-left: 4rem;
    margin-left: 15%;
    margin-right: 15;
}
.feature-heading
{
    font-size: 4rem;
    font-family: 'Lilita One' ;
    
}
.feature-description{
    font-size: 2rem;
    font-family: 'Roboto' ;
} }
@media(min-width:991.99px)
{.card-feature-left{
    height:30rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ff3535;
    border-radius:1rem;
}
.card-feature-left .card-img{
    width: 70%;
    height: auto;
    object-fit: cover;
    transform: scale(1.8);
    margin-top:5rem;
    margin-left: 4rem;
} }
@media(min-width:1200px)
{.card-feature-left{
    height:35rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ff3535;
    border-radius:1rem;
}
.card-feature-left .card-img{
    width: 70%;
    height: auto;
    object-fit: cover;
    transform: scale(1.8);
    margin-top:5rem;
    margin-left: 4rem;
} }
@media(min-width:1400px)
{.card-feature-left{
    height:38rem;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ff3535;
    border-radius:1rem;
}
.card-feature-left .card-img{
    width: 70%;
    height: auto;
    object-fit: cover;
    transform: scale(1.8);
    margin-top:5rem;
    margin-left: 4rem;
} }
#font-monteserat{
    font-family: 'Montserrat', sans-serif;
    color:black !important;
}
.header-banner{
    font-family: 'Lilita One' ;
    margin-top: 3rem;
    color: #ff3535;
    font-size: 6rem;
}
.banner-desc{
    color: #d4cbe5;
    font-size: 2rem;
    font-family: 'Lilita One';
}
.black {
   font-size: large;
   
}
.navbar-custom{
    background-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 
/* .navbar-toggler{
    background-color:#8211fa;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 100%;
} */
.intro-vid video{
    align-items: center;
    align-content: center;
    height: 300% !important;
    width: 91.5% !important;
    position: relative;
    margin: 0 auto; 
    /* width: 400px;  */
    object-fit: fill;

    /* margin-left: 30%; */
}
.navbar-collapse{
    align-self:right;
}
section
{
   padding: 10rem 0;
   background-color: #fff; 
   margin:0;
    padding:0;
    box-sizing:border-box;
}
.heading-feature
{
    text-transform:uppercase;
    font-size: 4rem;
    font-family:"";
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    height:5rem;
    padding-top: 4rem;
    text-align:center;
    color:black; 
    background-color: white;
    z-index: 999;
    position:relative;
}
.heading-feature::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -4rem;
    left:50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.heading
{
    text-transform:uppercase;
    font-size: 4rem;
    font-family:"";
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align:center;
    color:black; 
    background-color: white;
    z-index: 999;
    position:relative;
}
.heading::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left:50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card {
    width: 17rem;
    height: 32rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ebeef8;
  }

.card .card-img{
    width:100%;
    height: 20rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 52%, 0% 100%);
}  
.profile-img{
    width:10rem;
    height:10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -8rem;
    z-index: 999;
    border: .8rem solid #ebeef8;
}
.card h1{
font-size: 1.7rem;
color: #333;
margin: 1.0rem 0;
}
.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight:300;
}
.about{
    font-size: 1rem;
    margin-bottom:2rem;
    margin-left: 0.2rem;
    margin-right:0.2rem;
    font-style: italic;
    text-align: center;
    color: #333;
}
@media screen and (min-width: 700px)
{
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items:center;
    }
    .card{
        margin:2rem;
        transition: transform .5s;
    }
    @keyframes fadeIn{
        from{
            opacity:0;
        }
        to
        {
            opacity: 1;
        }
    }
    .card:nth-child(1)
        {
            animation: fadeIn .5s .5s backwards;
        }
    .card:nth-child(2)
        {
            animation: fadeIn .5s 1s backwards;
        }
    .card:nth-child(3)
        {
            animation: fadeIn .5s 1.5s backwards;
        }    
    .card:hover{
        transform: scale(1.05);
    }
    
}
.white-text{
    color:white;
}
.footer-image{
    width:10rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.left-navbar{
    margin-left: 3rem;
}
.right-navbar{
    margin-right: 3rem;
}
.hyperlinks{
    text-decoration: none !important;
    color: white !important;
}
#right-bottom-navbar-heading{
    margin-top: 1rem;
    color:white;
}
.fa {
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 20px;
    
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
footer{
    margin-top: 8rem;
    margin-bottom: 2rem;
}
.not-found{
    align-content: center;
    text-align: center;
    align-items: center;

}
.notfound-logo{
    width: 30rem;
}
.homepage-width{
    width:100% !important;
    height: auto !important;
}
.feature-screenshot{
    transform:scale(1);
}
.company-aim{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home-banner{
    width:100%;
    height: 10rem;
    text-align: center;
}
#company-name{
    text-align: center;
    font-weight: 900;
}
.company-name-homepage-description{
    font-weight: 600;
}
.lilita-heading{
    font-family: 'Lilita One' ;
}
.our-aim{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
} 
.white{
    color:white;
    font-family: 'Lilita One';
    font-size:1.5rem;
}
/* #margin-aim{
    margin-top: 30px !important;
} */
